<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Learning Journal | Home</title>
  <link rel="stylesheet" href="/static/css/style.css" />
   <link rel="manifest" href="/static/manifest.json">
</head>
<body>
      <div id="offline-banner" style="
    display:none;
    background:#ff5555;
    color:white;
    padding:10px;
    text-align:center;
    font-weight:bold;
">
    You are offline — some features may be unavailable.
</div>
  <header id="main-header"></header>
  <main>
    

    <section class="intro">
    
      <div class="cover-image">
        <img src="/static/images/cover.png" alt="Cover image of my learning journal" />
      </div>
      <p id="date-time"></p>

      <h2>Hello, I’m Tamana Magar</h2>
      <p>
        Welcome to my Learning Journal - a place where I document my weekly progress in the 
        Mobile Application Development module and showcase my creative projects.
      </p>
    </section>
     <div class="theme-container">
      <button id="theme-toggle" class="btn">Toggle Theme</button>
    </div>
  </main>

  <footer>
    <p>&copy; 2025 Tamana Magar | School of Games and Creative Technology</p>
  </footer>
  <script src="/static/js/script.js"></script>
</body>
</html>
